.notes_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
.show_notes_container {
  background-color: #f7ecdc;
}
.group_details_container {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  padding-right: 0;
}
.group_details_container h2 {
  font-size: 28px;
  letter-spacing: 0.6px;
}
.opaqueBack {
  opacity: 0.4;
}
dialog {
  display: block;
}
.modal_container {
  background-color: #ffffff;
  padding: 0.8rem 1.5rem;
  position: absolute;
  left: 32%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: none;
}
