.notes_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
.show_notes_container {
  background-color: #f7ecdc;
}
.group_details_container {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  padding-right: 0;
}
.group_details_container h2 {
  font-size: 28px;
  letter-spacing: 0.6px;
}
.notes_title {
  margin: 0;
}
.group_list_Wrapper {
  margin: 2rem 0 0 3.5rem;
}
.createNotes_btn {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0.4rem 1.7rem;
  margin-left: 1.1rem;
}
.plusIcon {
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px;
}
.group {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 0 0.3rem 1rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.group:hover {
  background-color: #f7ecdc;
  cursor: pointer;
}
.gr_logo {
  background-color: #0047ff;
  color: #ffffff;
  padding: 1rem;
  border-radius: 50%;
}
.group_list {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  gap: 0.2rem;
}
.gr_name {
  font-weight: 600;
  letter-spacing: 0.4px;
}
.pocket_notes_homepg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pocket_notes_homepg img {
  width: 490px;
}
.default_heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0;
}
.pocket_notes_homepg p{
  margin: 0;
  font-size: 14px;
}
.encryption{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10rem !important;
}
.show_notes{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
}
.group_heading{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #E8E8E8;
  padding: 0.5rem 0.8rem;
}
.notes_wrapper{
  padding: 1rem;
  /* height: 60vh; */
}
.notes{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dateTime_wrapper{
  width: 60%;
}
.dateTime_wrapper p{
  margin: 0.3rem;
  font-size: 14px;
}
.note_content p{
  font-size: 14px;
}
.teaxtarea_wrapper{
  background-color: #CCCCCC;
  padding: 1rem;
  position: relative;
  /* height: 90px; */
}
textarea{
  width: 98%;
  /* height: 100%; */
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  resize: none;
}
textarea::placeholder{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.teaxtarea_wrapper img{
  width: 26px;
  position: absolute;
  top: 100px;
  right: 30px;
}
.teaxtarea_wrapper img:hover{
  transform: scale(1.2);
  cursor: pointer;
}