.notes_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
.show_notes_container {
  background-color: #f7ecdc;
}
.group_details_container {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  padding-right: 0;
}
.group_details_container h2 {
  font-size: 28px;
  letter-spacing: 0.6px;
}
.opaqueBack {
  opacity: 0.4;
}
dialog {
  display: block;
}
.modal_container {
  background-color: #ffffff;
  padding: 0.8rem 1.5rem;
  position: absolute;
  left: 32%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: none;
}
.mobile_show_notes_container {
  display: none;
}
@media only screen and (max-width: 500px) {
  .show_notes_container {
    display: none;
  }
  .group_list {
    overflow-y: hidden !important;
    max-height: 515px !important;
  }
  .notes_container {
    grid-template-columns: 1fr;
  }
  .group_list_Wrapper {
    margin: 2rem 0 0 1rem !important;
  }
  .modal_container {
    padding: 0.5rem 0.5rem !important;
    left: 50% !important;
  }
  .modal_grName_wrapper p,
  .modal_colors_wrapper p {
    font-size: 0.7rem !important;
    width: 72px !important;
  }
  .modal_grName_wrapper input {
    padding: 0.2rem 1.5rem 0.2rem 0.6rem !important;
  }
  .modal_heading {
    font-size: 1rem !important;
  }
  .create_btn {
    padding: 0.3rem 1rem !important;
  }
  .mobile_show_notes_container {
    display: block;
  }
  .notes_wrapper {
    background-color: #f7ecdc;
    padding: 1rem 0.4rem;
  }
  .notes {
    display: grid;
    grid-template-columns: 138px 225px;
    font-size: 10px;
  }
  .teaxtarea_wrapper {
    padding: 0.6rem;
  }
  textarea {
    width: 96% !important;
    height: 94px;
  }
  .teaxtarea_wrapper img {
    top: 85px;
    right: 20px;
  }
  .show_notes {
    grid-template-rows: 70px 1fr 130px;
    height: 100vh;
  }
}
